h1.WebDevelopers {
    text-align: inherit;
}
p.login {
    
    padding-left: 1350px;
}
td.size {
    width: 150px;
    height: 20px;
    text-align: center;
}
h4.color {
    color: mediumblue;
}
img.align {
    padding-left: 1700px;
}
table.background {
    background-color:#F7F7C0;
    border-collapse: separate;
}
img.align2 {
    padding-left: 570px;
}
footer.color {
    background-color: #4EFBE9;
}
p.sitio {
    padding-left: 600px;
}