h1.WebDevelopers {
    padding-left: 150px;
}
p.login {
    
    padding-left: 1400px;
}
p.pass {
    padding-left: 100px;
}
td.size {
    
}
h4.color {
    color: mediumblue;
}
img.align {
    padding-left: 1700px;
}
table.background {
    background-color:#F7F7C0;
}
img.align2 {
    padding-left: 570px;
}